.install {
    display: inline-block;
    vertical-align: top;

    width: 275px;
    padding: 20px 0 0 75px;
}

.install__paragraph {
    font-size: 14px;
}

.install__hint {
    margin-left: 10px;
    color: #777;
}
