.examples-list {
    margin: 0 -42px 20px -42px;
    padding: 0;

    list-style: none;
}

.examples-list__item {
    display: inline-block;
    width: 25%;

    vertical-align: top;
    font-size: 14px;
}

.examples-list__item_eq_1 {
    width: 267px;
}

.examples-list__item_eq_2 {
    width: 211px;
}

.examples-list__item_eq_3 {
    width: 263px;
}

.examples-list__item_eq_4 {
    width: 247px;
}

.examples-list__item .link {
    border-bottom: 1px dotted #4982E2;

    text-decoration: none;
}

.examples-list__item .link:hover {
    border-bottom-color: #DF4725;
}

.examples-list__item_selected_true .link {
    border-bottom: none;
    color: #382516;
    cursor: default;
}

.examples-list__index-wrapper {
    float: left;
    padding-right: 8px;
}

.examples-list__index-border {
    position: relative;

    border-radius: 50%;
    width: 34px;
    height: 34px;

    background-image: linear-gradient(bottom, rgb(6, 138, 244) 0%, rgb(123, 179, 226) 100%);
    background-image: -o-linear-gradient(bottom, rgb(6, 138, 244) 0%, rgb(123, 179, 226) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(6, 138, 244) 0%, rgb(123, 179, 226) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(6, 138, 244) 0%, rgb(123, 179, 226) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(6, 138, 244) 0%, rgb(123, 179, 226) 100%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(6, 138, 244)),
            color-stop(1, rgb(123, 179, 226))
    );
}

.examples-list__item_selected_true .examples-list__index-border,
.examples-list__item .link:hover .examples-list__index-border {
    background-image: linear-gradient(bottom, #DF4725 0%, #EA8872 100%);
    background-image: -o-linear-gradient(bottom, #DF4725 0%, #EA8872 100%);
    background-image: -moz-linear-gradient(bottom, #DF4725 0%, #EA8872 100%);
    background-image: -webkit-linear-gradient(bottom, #DF4725 0%, #EA8872 100%);
    background-image: -ms-linear-gradient(bottom, #DF4725 0%, #EA8872 100%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, #DF4725),
            color-stop(1, #EA8872)
    );
}

.examples-list__index {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;

    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    padding-top: 4px;

    background: #fff;
}
