.example {
    width: 904px;
    margin: 0 auto;
}

.example__title {
    line-height: 22px;
}

.example__templates,
.example__bemjson,
.example__result {
    position: relative;

    display: inline-block;

    vertical-align: top;
}


.example__templates,
.example__bemjson {
    width: 440px;
    min-height: 300px;

    margin-bottom: 20px;
}

.example__templates {
    margin-right: 10px;
}

.example__bemjson {
    margin-left: 10px;
}

.example__result {
    width: 902px;
}
