.example {
    width: 988px;
    margin: 0 auto;
}

.example__title {
    line-height: 22px;
    font-size: 14px;
}

.example__templates,
.example__bemjson,
.example__result {
    position: relative;

    display: inline-block;

    vertical-align: top;
}


.example__templates,
.example__bemjson {
    min-height: 300px;

    margin-bottom: 20px;
}

.example__templates {
    width: 587px;
    margin-right: 10px;
}

.example__bemjson {
    width: 381px;
    margin-left: 10px;
}

.example__result {
    width: 988px;
}
