.ace {
    position: absolute;

    top: 22px;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    border: 1px dashed #aaa;
    background: #2D2D2D;
    color: #99CC99;

    font: 14px Courier, monospace;
}
.ace::selection {
    background: #aaa;
}
